.contact__top {
  background-image: url('/images/vectors/contact_bg.svg');
  background-position: center -7rem;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 57vh;
}

.contact__top__p {
  flex-basis: 45%;
}
