@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(54, 179, 126, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(54, 179, 126, 0.8);
  outline: 1px solid rgba(54, 179, 126);
}

.Toastify__toast--success {
  background: #1abc9c !important;
}
.Toastify__toast--warning {
  background: #e74c3c !important;
}
