.header {
  /* background-image: url('/images/vectors/header_bg.svg'); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.describe {
  width: 56%;
}

.social-icons {
  width: 12%;
}

.down__btn:focus,
.down__btn:active {
  outline: none;
}
